<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/71467b5fc2.js" crossorigin="anonymous"></script>
    <title>
        {% if title %}
            {{ title }} - 
        {% endif %}
        Mudeer
    </title>

    <meta name="description" content="{{ description if description else "MUDEER memudahkan pusat pengajian kutip yuran pelajar dan bayar elaun guru." }}">
    <link rel="canonical" href="https://mudeer.my/">

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '789629414727501');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=789629414727501&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
        <div class="container">
            <a class="navbar-brand font-weight-bold text-uppercase" href="/">Mudeer</a>
            <a href="http://wa.me/60192539805" class="btn btn-success font-weight-bold shadow-sm">
                WhatsApp Saya
            </a>
        </div>
    </nav>
    {{ content | safe }}

    <footer class="border-top py-4">
        <div class="container">
            <div class="text-center">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://mudeer.my/blog">Blog</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="/cara-guna">Cara Guna</a>
                    </li>
                </ul>

                <p class="mb-2">
                    Dibangunkan dengan penuh ❤️ oleh <a class="text-muted" href="https://tulisankod.my/">3ub41r</a>
                </p>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="mailto:zubair@mudeer.my">
                            <i class="fal fa-envelope"></i> zubair@mudeer.my
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="http://wa.me/60192539805">
                            <i class="fab fa-whatsapp"></i> WhatsApp
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>