/**
Color palette: https://www.canva.com/colors/color-palettes/speckled-eggs/
**/
body {
    background-color: #f2f9ff;
    color: #003B73;
}

.clouds {
    background-image: url(images/clouds.jpg);
    background-position: center bottom -150px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    background-color: #0ea8da;
}