/**
Color palette: https://www.canva.com/colors/color-palettes/speckled-eggs/
**/
body {
    background-color: #f2f9ff;
    color: #003B73;
}

p {
    line-height: 1.7rem;
    margin-bottom: 1.8rem;
}

.clouds {
    background-image: url(/images/clouds.jpg);
    background-position: center bottom -150px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    background-color: #0ea8da;
}

/* https://flaviocopes.com/responsive-youtube-videos/ */

.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}